<div class="container" ng-controller="IndexCtrl">
  <div class="text-center">Products</div>
  <div class="row" ng-repeat="product in products">
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
  </div>
</div>